{% extends "layout.html" %}
{% block content %}
<div>
      <img src="{{url_for('static', filename='a.jpg')}}" width="100%" height="100%" />
      <img src="{{url_for('static', filename='a.png')}}" width="50" height="50"  style="position: absolute; top: 20px; left: 10px;" />
  <form action="/appoinment" method="post">

    <div class="container" style="position: absolute; top: 20px; left: 40%;">
      <br><br><br><br><br>
        <label for="uname"><b>name</b></label>
      <input type="text" placeholder="Enter Name" name="name" >

      <label for="email"><b>doctor name</b></label>
      <input type="text" placeholder="" name="doctor" >

      <label for="psw"><b>date time</b></label>
      <input type="text" placeholder="12/05/2020 10:00" name="date_time" >

        <label for="gender"><b>hospital</b></label>
        <input type="text" placeholder="" name="hospital" />

        <button type="submit">Submit</button>
      </div>

    </div>

  </form>
{% endblock content %}
