<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

    <title>{{ title }}</title>
</head>
<body style="background-color: #98D4C3;">

<div class="topnav">

    <a href="about"><button>About</button></a>


    <a href="user_login"><button onclick="document.getElementById('id01').style.display='block'">User</button></a>

    <a href="doctor_login"><button onclick="document.getElementById('id02').style.display='block'">Doctor</button></a>

    <a  href="/home"><button>Home</button></a>
     <a href = "mailto:medibot.healthcare@gmail.com?subject = Feedback&body = Message">
<img src="{{url_for('static', filename='mail.png')}}" width="25" height="23" style="position: absolute; left: 30px; top: 10px;">
</a>
    <a href = "https://www.facebook.com/medibot.healthcare.7?subject = Feedback&body = Message">
<img src="{{url_for('static', filename='f.png')}}" width="30" height="30" style="position: absolute; left: 80px; top: 10px;">
</a>
    <a href = "https://twitter.com/MedibotH">
<img src="{{url_for('static', filename='t.png')}}" width="25" height="23" style="position: absolute; left: 130px; top: 13px;">
</a>

</div>


<div class="slideshow-container" style="position: absolute; top: 30px;" >

<div class="mySlides fade">

  <img src="{{url_for('static', filename='e.png')}}" align="middle" />

</div>

<div class="mySlides fade">

  <img src="{{url_for('static', filename='y.jpg')}}" align="middle" />
</div>

<div class="mySlides fade">

  <img src="{{url_for('static', filename='c1.jpg')}}" align="middle" />
</div>

<div class="mySlides fade">

  <img src="{{url_for('static', filename='z1.jpg')}}" align="middle" />
</div>


<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
</div>
<script src="{{url_for('static', filename='login.js')}}"></script>

<script src="{{url_for('static', filename='main.js')}}"></script>

</div>
<img src="{{url_for('static', filename='r.gif')}}" width="400" height="400"  style="position: absolute; bottom: 20px; right: 10px;"/>
</body>

</html>