
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account.css') }}">
    
  </head>
  <body style="background-color: #49C2E5">

<div class="topnav">
      <a href="about">About</a>


    <a href="user_login">User</a>

    <a href="doctor_login">Doctor</a>

    <a href="home">Home</a>
</div>
     <a href = "mailto:medibot.healthcare@gmail.com?subject = Feedback&body = Message">
<img src="{{url_for('static', filename='mail.png')}}" width="25" height="23" style="position: absolute; left: 80px; top: 10px;">
</a>
    <a href = "https://www.facebook.com/medibot.healthcare.7">
<img src="{{url_for('static', filename='f.png')}}" width="30" height="30" style="position: absolute; left: 120px; top: 10px;">
</a>
    <a href = "https://twitter.com/MedibotH">
<img src="{{url_for('static', filename='t.png')}}" width="25" height="23" style="position: absolute; left: 170px; top: 13px;">
</a>

<img src="{{url_for('static', filename='a.jpg')}}" width="110%" height="500%"  >
<img src="{{url_for('static', filename='a.jpg')}}" width="110%" height="500%" >
<img src="{{url_for('static', filename='a.jpg')}}" width="110%" height="500%"  >
<img src="{{url_for('static', filename='a.jpg')}}" width="110%" height="500%"  >
<div style="position: absolute; top: 2px; left: 200px; ">
    <h1 style="color: white;">Automated Healthcare Chatbot</h1>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Please try typing full sentences as I am still learning!</span></p>
        <p class="botText"><span>I am a chatbot. You can begin conversation by typing in a message and pressing enter.</span></p>

        <p class="botText"><span>Hi There! What is your name?</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message" >
        <input id="buttonInput" type="submit" value="Send" >
        <br>
        <br>
        <a href="/logout"><button style=" font-family: bold;">Logout</button></a>
      </div>
    </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
          getBotResponse();
        })
      </script>
    </div>
  </body>
</html>