<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account.css') }}">
    <title>Title</title>
</head>
<body>
<div class="topnav">
  <a class="active" href>
      <a class="active" href="/logout">logout</a>
      <a class="active" href="/appoinment">appoinment</a>
      <a class="active" href="/medicine_predictor">medicine</a>
      
  

</div>
<img src="{{url_for('static', filename='a.png')}}" width="50" height="50"  style="position: absolute; top: 20px; left: 10px;" />
   <div class="row" >
       {% for i in data %}
  <div class="column">
    <div class="card">

            <h3>Name: {{i[1]}}</h3>
            <p>Specialist: {{i[5]}}</p>
            <p>Address: {{i[7]}}</p>
            {% if i[6]== 'true' %}
            <p><div class="foo green"></div>Online</p>
            <a href="/livechat">chat</a>
            {% else %}
            <p><div class="foo grey"></div>Offline</p>
            <a>not avilable</a>
            {% endif %}


    </div>
    </div>


    {% endfor %}
   </div>


    <p><a href="/chatbot"><img src="{{url_for('static', filename='r.gif')}}" width="200" height="200"  style="position: absolute; bottom: 20px; right: 10px;"/></a></p>
  </div>
</div>

</body>
</html>